@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;margin: 0;
}
body{
    overflow: hidden !important;
}
.chat-big-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 10px;
    height: 100%;
    height: 93vh;
    overflow: hidden;
    position: relative;
}
.container-chat{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  border: 0.5px solid lightgrey;
}

.left{
    min-width: 350px;
    max-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.left > .top{
    position: relative;
    min-height: 60px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 0.5px solid #76767637;
    display: flex;
    align-items: center;
}

.left > .top > .tub {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: "Open Sans";
    width: 100%;
} 
.left > .top > .tub > .username{
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.left > .top > .card{
    position: absolute;
    right: 10px;
}
.left > .top > .card > button{

    background-color: #ffffff;
    border: 0.5px solid #76767637;
    padding: 4px 8px;
    color: #323232;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12px;
    border-radius: 12px;
    cursor: pointer;
    border: 0 !important;
}
.left > .top > .card > button:hover{
    color: #767676;
}

.left > .conversations{
    overflow-y: scroll;
    height: 100%;
    padding: 10px 0 0 0;
    overflow-x: hidden;
}

.conversations > .person{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    gap : 10px;

}
.latest{
    border: 0;
}
.conversations > .person:hover{
    background-color: #f0f0f0af;
    cursor: pointer;
}

.conversations > .person > .information{
    
    font-family: "Open Sans";
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    overflow: hidden;

}

.conversations > .person > .information > .content {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    color : black;
}

.conversations > .person > .information > .content > .message{
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto";
    color: #000000;
}

.conversations > .person > .information > .content > .new{
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto";
    color : black;
    font-weight: 700;
}

.conversations > .person > .box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conversations > .person > .box > .image{
    width: clamp(50px,50px,50px);
    height: clamp(50px,50px,50px);
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conversations > .person > .box > .online {
    min-width: 1.1rem;
    min-height: 1.1rem;
    background-color: lawngreen;
    border-radius: 100% ;
    position: absolute;
    border: 2px solid white;
    right: 0;
    bottom: 0;
}

.conversations > .person > .status{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.conversations > .person > .status > .point {
    min-height: 8px;
    min-width: 8px;
    background-color: #0084ff;
    border-radius:100% ;
}

.right{
    position: relative;
    border-left: 0.5px solid #76767637;
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.right > .top{
    width: 100%;
    display: flex;
    min-height: 60px;
    align-items: center;
    padding: 0 20px;
    border-bottom: 0.5px solid #76767637;
    gap: 1rem;
}

.right > .top > .box{
    position: relative;
    min-width: 35px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right > .top > .box > .image{
    display: flex;
    align-items: center;
    border:none;
    border-radius: 100%;
    overflow: hidden;
}

.right > .top > .box > .online{
    position: absolute;
    min-width:12px;
    min-height: 12px;
    background-color: lawngreen;
    border-radius: 100%;
    border: 2px solid #ffffff;
    right: 0;
    bottom: 0;
}

.right > .top > .information{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right > .top > .information > .username , .name{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-family: "Open Sans";
}
.right > .top .information > .username{
    font-weight: 400;
    font-size: 15px;
}

.right > .top > .information > .username > a{
    color: black;
    text-decoration: none;
}

.right > .top .information > .name{
    font-weight: 400;
    font-size: 12px;
    color: #707070;
}

.right > .top > .options{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right > .top > .options > button{
    border: none;
    background-color: transparent;
    padding: 0 10px;
  cursor : pointer;
}

.right > .middle{
    background-color: #ffffff;
    height: inherit;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    overflow-x: hidden;
}

.messages{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2.5px;
}

.clip {
    display: flex;
}

.clip > .text{
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    max-width: 50%;
    padding: 8px 16px;
    border-radius: 20px;
    word-break: break-word;
    white-space: pre-wrap;
    word-wrap: keep-all;
}

.received > .text{
    background-color: white;
    border: 0.5px solid #80808080;
}

.sent > .text{
    background-color: #0084ff;
    color: white;
}

.sent{
    flex-direction: row-reverse;
}

.seen{
    text-align: right;
    padding: 0 10px;
    font-family: "Open Sans";
    font-size: 0.75rem;
    font-weight: 400;
    color : gray;
}

.right > .bottom{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 28px;
}

.cup{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 0.5px solid #7676765c;
    width: 100%;
    padding: 8px 20px;
    border-radius: 40px;
}

.cup > textarea{
    overflow: hidden;
    font-family: "Open Sans";
    font-size: 0.85rem;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 0 10px;
    width: 100%;
    resize: none;
    max-height: 100px;
}

.cup > .send{
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    font-family: "Open Sans";
    font-size: 14px ;
    font-weight: 700;
    color : #0084ff;
}

.send:disabled{
    color: #0084ff8d;
}

@media only screen and (max-width: 950px) {
    .container-chat{
        width: 100%;
    }
}

@media only screen and (max-height: 600px) {
    .container-chat{
        height: 100%;
    }
}
.offline{
    min-width: 1.1rem;
    min-height: 1.1rem;
    background-color: grey;
    border-radius: 100%;
    position: absolute;
    border: 2px solid white;
    right: 0;
    bottom: 0;
}
.nomessage{
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nomessage img{
    width: 150px;
    object-fit: cover;
}
.nomessage h4{
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    color: #302e2e;
    margin-bottom: 0;
    padding-bottom: 0;
}
.nomessage p{
    font-family: 'Poppins', sans-serif;
    color: grey;
}
