*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
.read_wrapper{
    margin-top: 65px;
    display: flex;
    gap: 15px;
    min-height: 70vh;
}
.left_side{
    flex-basis: 75%;
   
}
.right_side{
    flex-basis: 25%;

}